Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

feat [DEV-1]: Add new generators for the NX angular entitites
  nx.json
Due: npm run format

feat [DEV-1]: Add base eslint configuration for angular
  .eslintrc.angular.json
  apps/frontend/angular/.eslintrc.json
Due: npm run format

refactor [DEV-1]: Update import for router outlet
  apps/frontend/angular/platform/src/app/components/app/app.component.ts
Due: npm run format, npm run eslint

refactor [DEV-1]: Change ignore dependencies to files
  .eslintrc.json
Due: npm run format

feat [DEV-1]: Add base eslint configuration for angular
  package-lock.json
  package.json
Due: npm run format

fix [DEV-1]: Add a configuration flag to the build commands
  package.json
Due: npm run format

feat [DEV-1]: Update prettier ignore configurtion file
  .prettierignore
Due: none

feat [DEV-1]: Implement new tsconfig.angular.json file and expanded base file
  apps/frontend/angular/tsconfig.json
  tsconfig.angular.json
  tsconfig.base.json
Due: npm run format

refactor [DEV-1]: Update package-lock file and change order of the lint commands
  package-lock.json
  package.json
Due: npm run format

refactor [DEV-1]: Update dependencies
  package-lock.json
Due: npm run format

feat [DEV-1]: Add new environment files
  apps/frontend/angular/platform/environments/environment.prod.ts
  apps/frontend/angular/platform/environments/environment.ts
Due: npm run format, npm run eslint

feat [DEV-1]: Add a verdaccio configuration file
  .verdaccio/config.yml
Due: none

feat [DEV-1]: Add a new nx scope tag and file replacement
  apps/frontend/angular/platform/project.json
Due: npm run format

fix [DEV-1]: Move "paths" field and to the main tsconfig file
  apps/frontend/angular/platform/tsconfig.app.json
  apps/frontend/angular/platform/tsconfig.json
  apps/frontend/angular/platform/tsconfig.spec.json
  apps/frontend/angular/tsconfig.json
  tsconfig.base.json
Due: npm run format

feat [DEV-1]: Add a global project config file to configure verdaccio
  project.json
Due: npm run format

feat [DEV-1]: Add esbuild, verdaccio and angular cdk packages and update name
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Add release and esbuild configurations
  nx.json
Due: npm run format

feat [DEV-1]: Add new rules to restrict imports and names
  .eslintrc.angular.json
Due: npm run format

feat [DEV-1]: Add a new eslint base configuration file
  .eslintrc.base.json
Due: npm run format

feat [DEV-1]: Update enforce-module-boundaries rule configuration
  .eslintrc.json
Due: npm run format

feat [DEV-1]: Implement a new core library
  libs/core/.eslintrc.json
  libs/core/jest.config.ts
  libs/core/package.json
  libs/core/project.json
  libs/core/src/index.ts
  libs/core/src/interfaces/common.ts
  libs/core/src/interfaces/index.ts
  libs/core/src/interfaces/utils.ts
  libs/core/tsconfig.json
  libs/core/tsconfig.lib.json
  libs/core/tsconfig.spec.json
Due: npm run format, npm run eslint

feat [DEV-1]: Implement a new utilities library
  libs/utilities/.eslintrc.json
  libs/utilities/jest.config.ts
  libs/utilities/package.json
  libs/utilities/project.json
  libs/utilities/src/decorators/bind/bind.decorator.ts
  libs/utilities/src/decorators/bind/index.ts
  libs/utilities/src/decorators/index.ts
  libs/utilities/src/index.ts
  libs/utilities/tsconfig.json
  libs/utilities/tsconfig.lib.json
  libs/utilities/tsconfig.spec.json
Due: npm run format, npm run eslint

feat [DEV-1]: Update paths for libraries
  tsconfig.base.json
Due: npm run format

refactor [DEV-1]: Remove verdaccio package
  .verdaccio/config.yml
  package-lock.json
  package.json
  project.json
Due: npm run format

fix [DEV-1]: Run linters
  libs/angular/ui/package.json
  libs/angular/ui/src/modules/condition/directives/condition-keyword/condition-keyword.directive.ts
  tsconfig.base.json
Due: npm run format, npm run eslint

refactor [DEV-1]: Temporarily rename package names
  apps/frontend/angular/platform/tsconfig.json
  libs/angular/ui/package.json
  libs/angular/ui/src/modules/condition/directives/condition-keyword/condition-keyword.directive.ts
  libs/angular/ui/src/modules/media/models/media.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/core/package.json
  libs/utilities/package.json
  tsconfig.base.json
Due: npm run format, npm run eslint

feat [DEV-1]: Add esbuild configuration
  apps/frontend/angular/platform/project.json
Due: npm run format

ci [DEV-1]: Update labels
  .github/labeler.yml
Due: none

ci [DEV-1]: Update checks for re-running jobs
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Add new continious deployment workflow for libraries
  .github/workflows/cd.yml
Due: none

ci [DEV-1]: Remove closed type for the CI workflow
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Change building commands comparison
  .github/workflows/cd.yml
Due: none

chore [DEV-1]: Update version of the utilities library
  libs/utilities/package.json
Due: npm run format

ci [DEV-1]: Add a new check for the closed merge requests
  .github/workflows/ci.yml
Due: none

chore [DEV-1]: Run eslint fix
  libs/angular/ui/package.json
Due: npm run format

ci [DEV-1]: Add synchronize type for the CI
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Change command for the build job
  .github/workflows/cd.yml
Due: none

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx}
