Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

feat [DEV-29]: Update package versions
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Provide experimental zoneless change detection
  apps/frontend/angular/platform/src/app.config.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Remove zone.js
  libs/angular/ui/project.json
  package-lock.json
  package.json
Due: npm run format

refactor [DEV-27]: Rename libraries
  apps/frontend/angular/platform/tsconfig.json
  libs/angular/ui/.storybook/viewports/breakpoints.ts
  libs/angular/ui/package.json
  libs/angular/ui/src/modules/condition/directives/condition/condition.directive.ts
  libs/angular/ui/src/modules/condition/storybook/models/condition.interface.ts
  libs/angular/ui/src/modules/media/interfaces/media.interface.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/core/package.json
  libs/utilities/package.json
  tsconfig.json
Due: npm run format, npm run eslint

chore [DEV-27]: Update comment to trigger NX build
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/core/src/interfaces/common.ts
  libs/utilities/src/decorators/bind/bind.decorator.ts
Due: npm run format, npm run eslint

ci [DEV-27]: Update workflows to deploy libs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  devops/scripts/check-and-publish-libs.sh
Due: none

ci [DEV-27]: Remove typo
  devops/scripts/check-and-publish-libs.sh
Due: none

ci [DEV-27]: Update script for CI/CD
  devops/scripts/check-and-publish-libs.sh
Due: none

ci [DEV-27]: Update workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat [DEV-27]: Update package versions
  libs/angular/ui/package.json
  libs/core/package.json
  libs/utilities/package.json
Due: npm run format

chore [DEV-27]: Run linter
  libs/angular/ui/package.json
Due: npm run format

ci [DEV-27]: Rename job
  .github/workflows/ci.yml
Due: none

ci [DEV-32]: Update workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore [DEV-32]: Update commit-message pattern script
  .husky/commit-msg
Due: none

feat [DEV-32]: Update deploy build command
  package.json
Due: npm run format

feat [DEV-32]: Update commands
  package.json
Due: npm run format

feat [DEV-32]: Update publish script
  devops/scripts/check-and-publish-libs.sh
Due: none

ci [DEV-32]: Update CI/CD
  devops/scripts/check-and-publish-libs.sh
  libs/angular/ui/package.json
  libs/angular/ui/src/modules/media/configs/media.config.ts
  libs/core/package.json
  libs/core/src/interfaces/common.ts
  libs/utilities/package.json
  libs/utilities/src/decorators/bind/bind.decorator.ts
Due: npm run format, npm run eslint

chore [DEV-32]: Test commit
  libs/angular/ui/src/modules/media/configs/media.config.ts
Due: npm run format, npm run eslint

feat [DEV-32]: Update eslint rule
  eslint.config.js
  libs/angular/ui/package.json
Due: npm run format, npm run eslint

feat [DEV-32]: Run lint
  libs/angular/ui/package.json
Due: npm run format

feat [DEV-32]: Update comment
  libs/angular/ui/src/modules/media/configs/media.config.ts
Due: npm run format, npm run eslint

feat [DEV-32]: Update comment
  libs/angular/ui/src/modules/media/guards/media-desktop/media-desktop.guard.ts
Due: npm run format, npm run eslint

feat [DEV-32]: Update laberer config
  .github/labeler.yml
Due: none

ci [DEV-32]: Update publish job
  .github/workflows/ci.yml
Due: none

ci [DEV-32]: Update publish job
  .github/labeler.yml
Due: none

feat [DEV-32]: Update configuration for the dependency rule
  eslint.config.js
Due: npm run format, npm run eslint

feat [DEV-32]: Update precommit hook
  .lintstagedrc.json
  libs/angular/ui/package.json
Due: npm run format

feat [DEV-32]: Remove types
  libs/angular/ui/src/modules/media/guards/media-between/media-between.guard.ts
  libs/angular/ui/src/modules/media/guards/media-max/media-max.guard.ts
  libs/angular/ui/src/modules/media/guards/media-min/media-min.guard.ts
  libs/angular/ui/src/modules/media/guards/media-mobile/media-mobile.guard.ts
  libs/angular/ui/src/modules/media/guards/media-only/media-only.guard.ts
Due: npm run format, npm run eslint

feat [DEV-31]: Migrate NX package
  package-lock.json
  package.json
Due: npm run format

feat [DEV-31]: Update packages versions
  libs/angular/ui/package.json
  package-lock.json
  package.json
Due: npm run format

feat [DEV-31]: Remove @angular/core dependency from ignore
  eslint.config.js
Due: npm run format, npm run eslint

feat [DEV-31]: Update selectors prefixes
  libs/angular/ui/package.json
  libs/angular/ui/src/modules/condition/directives/condition/condition.directive.ts
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.mdx
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.stories.ts
  libs/angular/ui/src/modules/condition/directives/condition/tests/condition.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-base/media-base.directive.ts
  libs/angular/ui/src/modules/media/directives/media-base/tests/media-base.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-between/tests/media-between.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-data/media-data.directive.ts
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-data/tests/media-data.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/tests/media-desktop.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-device/media-device.directive.ts
  libs/angular/ui/src/modules/media/directives/media-device/tests/media-device.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-max/tests/media-max.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-min/tests/media-min.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/tests/media-mobile.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-only/tests/media-only.directive.spec.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/angular/ui/src/modules/media/tokens/media.token.ts
Due: npm run format, npm run eslint

feat [DEV-31]: Update package version
  libs/angular/ui/package.json
Due: npm run format

feat [DEV-31]: Add changelog file
  libs/angular/ui/CHANGELOG.md
Due: npm run format

feat [DEV-31]: Integrate Storybook setup and config for Angular components
  storybook/.storybook/main.ts
  storybook/.storybook/manager.ts
  storybook/.storybook/preview.ts
  storybook/.storybook/tsconfig.json
  storybook/configs/index.ts
  storybook/configs/storybook.config.ts
  storybook/eslint.config.js
  storybook/index.ts
  storybook/package.json
  storybook/project.json
  storybook/src/components/storybook-intro.component.html
  storybook/src/components/storybook-intro.component.mdx
  storybook/src/components/storybook-intro.component.stories.ts
  storybook/src/components/storybook-intro.component.ts
  storybook/tsconfig.json
Due: npm run format, npm run eslint

feat [DEV-31]: Remove deprecated viewport files and update storybook config
  libs/angular/ui/.storybook/main.ts
  libs/angular/ui/.storybook/manager.ts
  libs/angular/ui/.storybook/preview.ts
  libs/angular/ui/.storybook/viewports/breakpoints.ts
  libs/angular/ui/.storybook/viewports/index.ts
Due: npm run format, npm run eslint

feat [DEV-31]: Update media config and service structure
  libs/angular/ui/src/modules/media/configs/media.config.ts
  libs/angular/ui/src/modules/media/index.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
Due: npm run format, npm run eslint

feat [DEV-31]: Update Storybook port to 4401 in angular ui library
  libs/angular/ui/project.json
Due: npm run format

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx}
