Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

ci [DEV-31]: Update Node.js version to 20.x in Storybook workflow
  .github/workflows/storybook.yml
Due: npm run format

ci [DEV-31]: Add Storybook deployment to CI workflow
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-31]: Update Storybook deployment to use composition and diff check
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-31]: Update Storybook deployment to use composition and diff check
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: npm run format

ci [DEV-31]: Update Storybook deployment to use composition and diff check
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Update Storybook deployment to use composition and diff check
  storybook/.storybook/manager.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Update Storybook deployment to use composition and diff check
  storybook/.storybook/manager.ts
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

Revert "ci [DEV-31]: Update Storybook deployment to use composition and diff check"
  storybook/.storybook/manager.ts
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Update Storybook URLs in package.json files
  libs/angular/ui/package.json
  storybook/package.json
Due: npm run format, npm run eslint

ci [DEV-31]: Update Node.js version and add condition for Storybook deploy
  .github/workflows/storybook.yml
Due: npm run format

docs [DEV-31]: Update documentation example in MediaBaseDirective
  libs/angular/ui/src/modules/media/directives/media-base/media-base.directive.ts
Due: npm run format, npm run eslint

docs [DEV-31]: Update documentation example in MediaBaseDirective
  .github/workflows/ci.yml
Due: npm run format

docs [DEV-31]: Update documentation example in MediaBaseDirective
  libs/angular/ui/package.json
Due: npm run format, npm run eslint

docs [DEV-31]: Update documentation example in MediaBaseDirective
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
Due: npm run format, npm run eslint

docs [DEV-31]: Update documentation example in MediaBaseDirective
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
Due: npm run format, npm run eslint

docs [DEV-31]: Update documentation example in MediaBaseDirective
  libs/angular/ui/.storybook/tsconfig.json
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.mdx
Due: npm run format, npm run eslint

chore [DEV-31]: Update Storybook URLs in package.json files
  libs/angular/ui/package.json
  storybook/package.json
Due: npm run format, npm run eslint

ci [DEV-31]: Update Storybook deployment conditions and Node.js version in workflow
  .github/workflows/storybook.yml
Due: npm run format

chore [DEV-31]: Add trailing slash to CompositionProdUrl in StorybookConfig
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

chore [DEV-31]: Add trailing slash to CompositionProdUrl in StorybookConfig
  libs/angular/ui/package.json
Due: npm run format, npm run eslint

fix [DEV-1]: Update commit message linter
  .husky/commit-msg
Due: none

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx,yml}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx,json}
