Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

fix [DEV-27]: Fix checking for the condition-keyword directive
  libs/angular/ui/src/modules/condition/directives/condition-keyword/condition-keyword.directive.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Split values by variables inside the media service
  libs/angular/ui/src/modules/media/services/media/media.service.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add media service mock
  libs/angular/ui/src/modules/media/mocks/index.ts
  libs/angular/ui/src/modules/media/mocks/media/index.ts
  libs/angular/ui/src/modules/media/mocks/media/media-service-mock.provider.ts
  libs/angular/ui/src/modules/media/mocks/media/media-service.mock.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add tests for the media directives
  libs/angular/ui/src/modules/media/directives/media-base/tests/media-base.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-base/tests/media-base.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-between/tests/media-between.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-between/tests/media-between.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-data/tests/media-data.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/tests/media-desktop.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/tests/media-desktop.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-device/tests/media-device.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-device/tests/media-device.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-max/tests/media-max.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-max/tests/media-max.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-min/tests/media-min.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-min/tests/media-min.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/tests/media-mobile.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/tests/media-mobile.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-only/tests/media-only.directive.po.ts
  libs/angular/ui/src/modules/media/directives/media-only/tests/media-only.directive.spec.ts
Due: npm run format, npm run eslint

refactor [DEV-27]: Rename folder with interfaces
  libs/angular/ui/src/modules/media/configs/media.config.ts
  libs/angular/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/angular/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/angular/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/angular/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/angular/ui/src/modules/media/guards/media-between.guard.ts
  libs/angular/ui/src/modules/media/guards/media-max.guard.ts
  libs/angular/ui/src/modules/media/guards/media-min.guard.ts
  libs/angular/ui/src/modules/media/guards/media-only.guard.ts
  libs/angular/ui/src/modules/media/index.ts
  libs/angular/ui/src/modules/media/interfaces/index.ts
  libs/angular/ui/src/modules/media/interfaces/media.interface.ts
  libs/angular/ui/src/modules/media/providers/media-config.provider.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/angular/ui/src/modules/media/tokens/media.token.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add stories for the media directives
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.stories.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add a new media element mock and refactor media service mock
  libs/angular/ui/src/modules/media/mocks/index.ts
  libs/angular/ui/src/modules/media/mocks/media-element.mock.ts
  libs/angular/ui/src/modules/media/mocks/media-service.mock.ts
  libs/angular/ui/src/modules/media/mocks/media/index.ts
  libs/angular/ui/src/modules/media/mocks/media/media-service-mock.provider.ts
Due: npm run format, npm run eslint

fix [DEV-27]: Remove redundant field from the jest config
  libs/core/jest.config.ts
  libs/utilities/jest.config.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add condition keyword interface for storybook entities
  libs/angular/ui/src/modules/condition/storybook/index.ts
  libs/angular/ui/src/modules/condition/storybook/models/condition-keyword.interface.ts
  libs/angular/ui/src/modules/condition/storybook/models/index.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Update the logic and documentation for the condition keyword directive
  libs/angular/ui/src/modules/condition/directives/condition-keyword/condition-keyword.directive.ts
Due: npm run format, npm run eslint

refactor [DEV-27]: Rename the condition interfaces folder
  libs/angular/ui/src/modules/condition/index.ts
  libs/angular/ui/src/modules/condition/interfaces/condition-keyword.ts
  libs/angular/ui/src/modules/condition/interfaces/index.ts
  libs/angular/ui/src/modules/condition/tokens/condition-keyword.token.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Implement tests for the condition keyword directive
  libs/angular/ui/src/modules/condition/directives/condition-keyword/tests/condition-keyword.directive.po.ts
  libs/angular/ui/src/modules/condition/directives/condition-keyword/tests/condition-keyword.directive.spec.ts
  libs/angular/ui/src/modules/condition/mocks/condition-keyword.mock.ts
  libs/angular/ui/src/modules/condition/mocks/index.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add a storybook documentation for the condition-keyword directive
  libs/angular/ui/src/modules/condition/directives/condition-keyword/stories/condition-keyword.directive.mdx
  libs/angular/ui/src/modules/condition/directives/condition-keyword/stories/condition-keyword.directive.stories.ts
Due: npm run format, npm run eslint

refactor [DEV-27]: Raname condition-keyword directive
  libs/angular/ui/src/modules/condition/directives/condition-keyword/index.ts
  libs/angular/ui/src/modules/condition/directives/condition/condition.directive.ts
  libs/angular/ui/src/modules/condition/directives/condition/index.ts
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.mdx
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.stories.ts
  libs/angular/ui/src/modules/condition/directives/condition/tests/condition.directive.po.ts
  libs/angular/ui/src/modules/condition/directives/condition/tests/condition.directive.spec.ts
  libs/angular/ui/src/modules/condition/directives/index.ts
  libs/angular/ui/src/modules/condition/index.ts
  libs/angular/ui/src/modules/condition/interfaces/condition.ts
  libs/angular/ui/src/modules/condition/interfaces/index.ts
  libs/angular/ui/src/modules/condition/mocks/condition.mock.ts
  libs/angular/ui/src/modules/condition/mocks/index.ts
  libs/angular/ui/src/modules/condition/storybook/index.ts
  libs/angular/ui/src/modules/condition/storybook/models/condition-keyword.interface.ts
  libs/angular/ui/src/modules/condition/storybook/models/condition.interface.ts
  libs/angular/ui/src/modules/condition/storybook/models/index.ts
  libs/angular/ui/src/modules/condition/tokens/condition-keyword.token.ts
  libs/angular/ui/src/modules/condition/tokens/condition.token.ts
  libs/angular/ui/src/modules/condition/tokens/index.ts
  libs/angular/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.stories.ts
Due: npm run format, npm run eslint

fix [DEV-27]: Change the order of eslint plugins
  eslint.config.js
Due: npm run format, npm run eslint

chore [DEV-27]: Run prettier and update eslint & prettier config versions
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.mdx
  libs/angular/ui/src/modules/media/directives/media-data/tests/media-data.directive.spec.ts
  libs/angular/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/angular/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/angular/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/angular/ui/src/modules/media/guards/media-between.guard.ts
  libs/angular/ui/src/modules/media/guards/media-max.guard.ts
  libs/angular/ui/src/modules/media/guards/media-min.guard.ts
  libs/angular/ui/src/modules/media/guards/media-only.guard.ts
  libs/angular/ui/src/modules/media/interfaces/media.interface.ts
  libs/angular/ui/src/modules/media/providers/media-config.provider.ts
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-27]: Move media guards to separate folders
  libs/angular/ui/src/modules/media/guards/index.ts
  libs/angular/ui/src/modules/media/guards/media-between/index.ts
  libs/angular/ui/src/modules/media/guards/media-between/media-between.guard.ts
  libs/angular/ui/src/modules/media/guards/media-desktop/index.ts
  libs/angular/ui/src/modules/media/guards/media-desktop/media-desktop.guard.ts
  libs/angular/ui/src/modules/media/guards/media-max/index.ts
  libs/angular/ui/src/modules/media/guards/media-max/media-max.guard.ts
  libs/angular/ui/src/modules/media/guards/media-min/index.ts
  libs/angular/ui/src/modules/media/guards/media-min/media-min.guard.ts
  libs/angular/ui/src/modules/media/guards/media-mobile/index.ts
  libs/angular/ui/src/modules/media/guards/media-mobile/media-mobile.guard.ts
  libs/angular/ui/src/modules/media/guards/media-only/index.ts
  libs/angular/ui/src/modules/media/guards/media-only/media-only.guard.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Migrate NX to the latest package version
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Update spectator to the latest package version
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Update version of the eslint config
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Add tests for media guards
  libs/angular/ui/src/modules/media/guards/media-between/media-between.guard.spec.ts
  libs/angular/ui/src/modules/media/guards/media-desktop/media-desktop.guard.spec.ts
  libs/angular/ui/src/modules/media/guards/media-max/media-max.guard.spec.ts
  libs/angular/ui/src/modules/media/guards/media-min/media-min.guard.spec.ts
  libs/angular/ui/src/modules/media/guards/media-mobile/media-mobile.guard.spec.ts
  libs/angular/ui/src/modules/media/guards/media-only/media-only.guard.spec.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add tests for the media helper
  libs/angular/ui/src/modules/media/helpers/index.ts
  libs/angular/ui/src/modules/media/helpers/media/index.ts
  libs/angular/ui/src/modules/media/helpers/media/media.helper.spec.ts
  libs/angular/ui/src/modules/media/helpers/media/media.helper.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Update eslint package version
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Add tests for the media service
  libs/angular/ui/src/modules/media/services/media/media.service.spec.ts
Due: npm run format, npm run eslint

fix [DEV-27]: Update jest setup configuration
  libs/utilities/jest.config.ts
  libs/utilities/setup-jest.ts
Due: npm run format, npm run eslint

fix [DEV-27]: Add tests for the bind decorator
  libs/utilities/src/decorators/bind/bind.decorator.spec.ts
Due: npm run format, npm run eslint

fix [DEV-27]: Update @kiforks/eslint package version
  package-lock.json
  package.json
Due: npm run format

fix [DEV-27]: Migrate NX package to the latest version
  package-lock.json
  package.json
Due: npm run format

fix [DEV-27]: Remove warning message for storybook
  libs/angular/ui/.storybook/tsconfig.json
Due: npm run format

feat [DEV-27]: Add new storybook addons
  libs/angular/ui/.storybook/main.ts
  libs/angular/ui/.storybook/tsconfig.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-27]: Add storybook preview default options
  libs/angular/ui/.storybook/preview.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add "directives" tag to the stories
  libs/angular/ui/src/modules/condition/directives/condition/stories/condition.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-data/stories/media-data.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-desktop/stories/media-desktop.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-max/stories/media-max.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-min/stories/media-min.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/stories/media-mobile.directive.stories.ts
  libs/angular/ui/src/modules/media/directives/media-only/stories/media-only.directive.stories.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Update order for the media config breakpoints
  libs/angular/ui/src/modules/media/configs/media.config.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add viewport breakpoints to the storybook preview
  libs/angular/ui/.storybook/preview.ts
  libs/angular/ui/.storybook/viewports/breakpoints.ts
  libs/angular/ui/.storybook/viewports/index.ts
Due: npm run format, npm run eslint

feat [DEV-27]: Add a new "storybook" label to labeler workflow
  .github/labeler.yml
Due: none

revert [DEV-27]: Revert changes for the NX configuration
  nx.json
Due: npm run format

feat [DEV-27]: Update package versions
  package-lock.json
  package.json
Due: npm run format

Revert "feat [DEV-27]: Update package versions"
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Update a package command
  package.json
Due: npm run format

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx}
