Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

ci [DEV-31]: Update workflow to include additional storybook directories
  .github/workflows/storybook.yml
Due: npm run format

ci [DEV-31]: Update workflow to include additional storybook directories
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-31]: Update workflow to include additional storybook directories
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Update workflow to include additional storybook directories
  libs/angular/ui/.storybook/tsconfig.json
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Update workflow to include additional storybook directories
  libs/angular/ui/.storybook/tsconfig.json
Due: npm run format, npm run eslint

ci [DEV-31]: Update workflow to include additional storybook directories
  .github/PULL_REQUEST_TEMPLATE.md
Due: npm run format

ci [DEV-31]: Update storybook workflow to use base commit for diff comparison
  .github/workflows/storybook.yml
  storybook/configs/storybook.config.ts
Due: npm run format, npm run eslint

ci [DEV-31]: Conditionally skip steps in CI workflow
  .github/workflows/ci.yml
Due: npm run format

test [DEV-31]: Add test line to app component HTML
  apps/frontend/angular/platform/src/app/components/app/app.component.html
Due: npm run format, npm run eslint

test [DEV-31]: Add test line to app component HTML
  .github/workflows/ci.yml
Due: npm run format

test [DEV-31]: Add test line to app component HTML
  .github/labeler.yml
Due: npm run format

test [DEV-31]: Add test line to app component HTML
  storybook/utils/index.ts
  storybook/utils/storybook/index.ts
  storybook/utils/storybook/storybook.utils.ts
Due: npm run format, npm run eslint

deploy: 76694c0c29cc8541b7c19125d62e7430d705324c
  iframe.html
  index.html
  main.8b907535.iframe.bundle.js
  main.fe6c291d.iframe.bundle.js
  ng-ui/iframe.html
  ng-ui/main.0c5885b4.iframe.bundle.js
  ng-ui/main.807a22f3.iframe.bundle.js
  ng-ui/project.json
  ng-ui/sb-addons/libs-angular-ui-storybook-13/manager-bundle.js
  project.json
  sb-addons/storybook-storybook-13/manager-bundle.js
Due: npm run format, npm run eslint

feat [DEV-49]: Add dependency constraints to ESLint configuration
  eslint.config.js
Due: npm run format, npm run eslint

refactor [DEV-49]: Rename AppComponent to RootComponent and update references
  apps/frontend/angular/platform/src/app/components/index.ts
  apps/frontend/angular/platform/src/app/components/root/index.ts
  apps/frontend/angular/platform/src/app/components/root/root.component.html
  apps/frontend/angular/platform/src/app/components/root/root.component.spec.ts
  apps/frontend/angular/platform/src/app/components/root/root.component.ts
  apps/frontend/angular/platform/src/main.ts
Due: npm run format, npm run eslint

refactor [DEV-49]: Reorganize project files into app directory
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/src/app/app.config.ts
  apps/frontend/angular/platform/src/app/app.routes.ts
  apps/frontend/angular/platform/src/app/index.html
  apps/frontend/angular/platform/src/app/main.ts
  apps/frontend/angular/platform/src/app/styles.scss
  apps/frontend/angular/platform/tsconfig.app.json
Due: npm run format, npm run stylelint, npm run eslint

chore [DEV-49]: Add unstable_config_lookup_from_file flag to ESLint scripts
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Update project to use tsconfig.base.json across configurations
  apps/frontend/angular/platform/jest.config.ts
  apps/frontend/angular/platform/src/app/index.html
  apps/qa/platform-e2e/tsconfig.json
  eslint.config.js
  libs/angular/ui/jest.config.ts
  libs/core/tsconfig.json
  libs/utilities/jest.config.ts
  libs/utilities/tsconfig.json
  package.json
  tsconfig.angular.json
  tsconfig.base.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Restructure project to improve component organization
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/src/app/app.config.ts
  apps/frontend/angular/platform/src/app/main.ts
  apps/frontend/angular/platform/src/pages/index.ts
  apps/frontend/angular/platform/src/pages/ui/components/index.ts
  apps/frontend/angular/platform/src/pages/ui/components/root/index.ts
  apps/frontend/angular/platform/src/pages/ui/components/root/root.component.html
  apps/frontend/angular/platform/src/pages/ui/components/root/root.component.spec.ts
  apps/frontend/angular/platform/src/pages/ui/components/root/root.component.ts
  apps/frontend/angular/platform/src/pages/ui/index.ts
  apps/frontend/angular/platform/src/shared/ui/index.ts
  apps/frontend/angular/platform/src/shared/ui/scss/styles.scss
Due: npm run format, npm run stylelint, npm run eslint

refactor [DEV-49]: Restructure project to improve component organization
  eslint.config.js
Due: npm run format, npm run eslint

chore [DEV-49]: Update tags in project.json
  libs/angular/ui/project.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Update paths in tsconfig and styles path in project.json
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/tsconfig.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Restructure components and update routing configuration
  apps/frontend/angular/platform/src/app/app.config.ts
  apps/frontend/angular/platform/src/app/app.routes.ts
  apps/frontend/angular/platform/src/modules/auth/entities/index.ts
  apps/frontend/angular/platform/src/modules/auth/features/index.ts
  apps/frontend/angular/platform/src/modules/auth/pages/auth.routes.ts
  apps/frontend/angular/platform/src/modules/auth/pages/components/auth/auth.component.html
  apps/frontend/angular/platform/src/modules/auth/pages/components/auth/auth.component.spec.ts
  apps/frontend/angular/platform/src/modules/auth/pages/components/auth/auth.component.ts
  apps/frontend/angular/platform/src/modules/auth/pages/components/auth/index.ts
  apps/frontend/angular/platform/src/modules/auth/pages/components/index.ts
  apps/frontend/angular/platform/src/modules/auth/pages/index.ts
  apps/frontend/angular/platform/src/modules/auth/pages/routes/auth.route.ts
  apps/frontend/angular/platform/src/modules/auth/pages/routes/index.ts
  apps/frontend/angular/platform/src/modules/auth/widgets/components/auth-panel/auth-panel.component.html
  apps/frontend/angular/platform/src/modules/auth/widgets/components/auth-panel/auth-panel.component.scss
  apps/frontend/angular/platform/src/modules/auth/widgets/components/auth-panel/auth-panel.component.spec.ts
  apps/frontend/angular/platform/src/modules/auth/widgets/components/auth-panel/auth-panel.component.ts
  apps/frontend/angular/platform/src/modules/auth/widgets/components/auth-panel/index.ts
  apps/frontend/angular/platform/src/modules/auth/widgets/components/index.ts
  apps/frontend/angular/platform/src/modules/auth/widgets/index.ts
  apps/frontend/angular/platform/src/pages/components/index.ts
  apps/frontend/angular/platform/src/pages/components/root/index.ts
  apps/frontend/angular/platform/src/pages/components/root/root.component.html
  apps/frontend/angular/platform/src/pages/components/root/root.component.spec.ts
  apps/frontend/angular/platform/src/pages/components/root/root.component.ts
  apps/frontend/angular/platform/src/pages/index.ts
  apps/frontend/angular/platform/src/pages/root.routes.ts
  apps/frontend/angular/platform/src/pages/routes/index.ts
  apps/frontend/angular/platform/src/pages/routes/root.route.ts
  apps/frontend/angular/platform/src/pages/ui/index.ts
  apps/frontend/angular/platform/src/shared/modules/header/components/header/header.component.html
  apps/frontend/angular/platform/src/shared/modules/header/components/header/header.component.spec.ts
  apps/frontend/angular/platform/src/shared/modules/header/components/header/header.component.ts
  apps/frontend/angular/platform/src/shared/modules/header/components/header/index.ts
  apps/frontend/angular/platform/src/shared/modules/header/components/index.ts
  apps/frontend/angular/platform/src/shared/scss/styles.scss
  apps/frontend/angular/platform/src/shared/ui/index.ts
Due: npm run format, npm run stylelint, npm run eslint

refactor [DEV-49]: Remove polyfills entry from project.json in Angular platform configuration
  apps/frontend/angular/platform/project.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add i18n support with @angular/localize library
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/src/app/main.ts
  apps/frontend/angular/platform/src/app/polyfills.ts
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-49]: Update Angular ESLint config with i18n rules for HTML files
  linters/eslint/configs/angular.config.js
Due: npm run format, npm run eslint

feat [DEV-49]: Migrate NX to the latest version
  package-lock.json
  package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Update angular to the latest version
  libs/angular/ui/package.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Update ESLint configurations and dependencies
  eslint.config.js
  linters/eslint/configs/angular.config.js
  package-lock.json
  package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Upgrade package dependencies in package.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Remove polyfills import from main.ts and update project.json configuration
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/src/app/main.ts
Due: npm run format, npm run eslint

fix [DEV-49]: Update locale from 'ua' to 'uk' in project configuration
  apps/frontend/angular/platform/project.json
  apps/frontend/angular/platform/src/locale/messages.uk.xlf
  apps/frontend/angular/platform/src/locale/messages.xlf
Due: npm run format, npm run eslint

chore [DEV-49]: Add base tsconfig.json file
  tsconfig.json
Due: npm run format, npm run eslint

chore [DEV-49]: Rename build scripts for library deployment
  devops/scripts/check-and-publish-libs.sh
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Reorganize project structure for core and utilities libraries
  apps/frontend/angular/platform/tsconfig.json
  libs/frontend/angular/ui/jest.config.ts
  libs/frontend/core/eslint.config.js
  libs/frontend/core/jest.config.ts
  libs/frontend/core/package.json
  libs/frontend/core/project.json
  libs/frontend/core/src/index.ts
  libs/frontend/core/src/interfaces/common.ts
  libs/frontend/core/src/interfaces/index.ts
  libs/frontend/core/src/interfaces/utils.ts
  libs/frontend/core/tsconfig.json
  libs/frontend/core/tsconfig.lib.json
  libs/frontend/core/tsconfig.spec.json
  libs/frontend/utilities/eslint.config.js
  libs/frontend/utilities/jest.config.ts
  libs/frontend/utilities/package.json
  libs/frontend/utilities/project.json
  libs/frontend/utilities/setup-jest.ts
  libs/frontend/utilities/src/decorators/bind/bind.decorator.spec.ts
  libs/frontend/utilities/src/decorators/bind/bind.decorator.ts
  libs/frontend/utilities/src/decorators/bind/index.ts
  libs/frontend/utilities/src/decorators/index.ts
  libs/frontend/utilities/src/index.ts
  libs/frontend/utilities/tsconfig.json
  libs/frontend/utilities/tsconfig.lib.json
  libs/frontend/utilities/tsconfig.spec.json
  tsconfig.base.json
Due: npm run format, npm run eslint

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx,yml}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx,json}
