Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

ci [DEV-49]: Update Chromatic build commands with output directories
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-49]: Enable and configure CI jobs in GitHub Actions workflow
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-49]: Remove extra newlines in CI workflow file
  .github/workflows/ci.yml
Due: npm run format

refactor [DEV-49]: Update script to filter and sort changed packages in libs folder
  devops/scripts/check-and-publish-libs.sh
Due: none

fix [DEV-49]: Correct variable name in check-and-publish-libs script
  devops/scripts/check-and-publish-libs.sh
Due: none

refactor [DEV-49]: Simplify changed file detection logic in publish script
  devops/scripts/check-and-publish-libs.sh
Due: none

refactor [DEV-49]: Simplify version check and publish logic in script
  devops/scripts/check-and-publish-libs.sh
Due: none

chore [DEV-49]: Set package version to 0.0.0 in angular UI package.json
  frontend/libs/angular/ui/package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Update package version in angular UI library
  frontend/libs/angular/ui/package.json
Due: npm run format, npm run eslint

ci [DEV-49]: Add patch build for baseline comparison in CI workflow
  .github/workflows/ci.yml
Due: npm run format

ci [DEV-49]: Update Chromatic commands for frontend and Angular UI projects
  .github/workflows/ci.yml
Due: npm run format

fix [DEV-49]: Correct visibility message in media-between directive story
  frontend/libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
Due: npm run format, npm run eslint

ci [DEV-49]: Comment out jobs in GitHub Actions workflow
  .github/workflows/ci.yml
Due: npm run format

fix [DEV-49]: Correct text for media between directive story
  frontend/libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.stories.ts
Due: npm run format, npm run eslint

feat [DEV-49]: Update Storybook intro component and story structure
  frontend/storybook/src/components/storybook-intro.component.html
  frontend/storybook/src/components/storybook-intro.component.mdx
  frontend/storybook/src/components/storybook-intro.component.stories.ts
  frontend/storybook/src/components/storybook-intro.component.ts
Due: npm run format, npm run eslint

feat [DEV-49]: Update Storybook intro component and story structure
  frontend/storybook/src/components/storybook-intro.component.html
Due: npm run format, npm run eslint

ci [DEV-49]: Restore CI workflow and update Storybook intro component
  .github/workflows/ci.yml
  frontend/storybook/src/components/storybook-intro.component.html
  frontend/storybook/src/components/storybook-intro.component.mdx
  frontend/storybook/src/components/storybook-intro.component.stories.ts
  frontend/storybook/src/components/storybook-intro.component.ts
Due: npm run format, npm run eslint

ci [DEV-49]: Enable dependencies for Chromatic job and fix comment indentation
  .github/workflows/ci.yml
Due: npm run format

chore [DEV-49]: Update storybook:prod script to run in parallel with all targets
  package.json
Due: npm run format, npm run eslint

docs [DEV-49]: Fix typo in MediaBetweenDirective documentation
  frontend/libs/angular/ui/src/modules/media/directives/media-between/stories/media-between.directive.mdx
Due: npm run format

ci [DEV-49]: Add backend file paths to CI workflow
  .github/workflows/ci.yml
Due: npm run format

feat [DEV-49]: Add @nestjs/cli dependency
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add NestJS schematics and Nx Nest to package configurations
  package-lock.json
  package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Migrate NX to the latest version
  .gitignore
  frontend/angular/platform/project.json
  frontend/libs/core/project.json
  frontend/libs/utilities/project.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Update package dependencies in package.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add docker-compose file with PostgreSQL setup
  docker-compose.yml
Due: npm run format

feat [DEV-49]: Add Prisma setup and initial database schema
  .gitignore
  backend/prisma/migrations/20250521162344_init/migration.sql
  backend/prisma/migrations/20250521162401_add_user_password/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  package-lock.json
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Rename platform-e2e files to platform
  qa/platform/eslint.config.js
  qa/platform/playwright.config.ts
  qa/platform/project.json
  qa/platform/src/example.spec.ts
  qa/platform/tsconfig.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add NestJS platform with basic setup and configuration
  backend/apps/nestjs/platform/jest.config.ts
  backend/apps/nestjs/platform/project.json
  backend/apps/nestjs/platform/src/app/app.controller.spec.ts
  backend/apps/nestjs/platform/src/app/app.controller.ts
  backend/apps/nestjs/platform/src/app/app.module.ts
  backend/apps/nestjs/platform/src/app/app.service.spec.ts
  backend/apps/nestjs/platform/src/app/app.service.ts
  backend/apps/nestjs/platform/src/assets/.gitkeep
  backend/apps/nestjs/platform/src/main.ts
  backend/apps/nestjs/platform/tsconfig.app.json
  backend/apps/nestjs/platform/tsconfig.json
  backend/apps/nestjs/platform/tsconfig.spec.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

chore [DEV-49]: Add tags to project.json files for frontend, backend, and QA
  backend/apps/nestjs/platform/project.json
  eslint.config.js
  frontend/apps/angular/platform/project.json
  frontend/libs/angular/ui/project.json
  frontend/libs/core/project.json
  frontend/libs/utilities/project.json
  qa/platform/project.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add NestJS eslint configurations and dependencies
  backend/apps/nestjs/platform/eslint.config.js
  backend/apps/nestjs/platform/src/app/app.controller.ts
  eslint.config.js
  linters/eslint/configs/nestjs.config.js
  package-lock.json
  package.json
Due: npm run format, npm run eslint

refactor [DEV-49]: Restructure app module and update import paths
  backend/apps/nestjs/platform/project.json
  backend/apps/nestjs/platform/src/app/main.ts
  backend/apps/nestjs/platform/src/modules/app/app.module.ts
  backend/apps/nestjs/platform/src/modules/app/controllers/app/app.controller.spec.ts
  backend/apps/nestjs/platform/src/modules/app/controllers/app/app.controller.ts
  backend/apps/nestjs/platform/src/modules/app/controllers/app/index.ts
  backend/apps/nestjs/platform/src/modules/app/controllers/index.ts
  backend/apps/nestjs/platform/src/modules/app/index.ts
  backend/apps/nestjs/platform/src/modules/app/services/app/app.service.spec.ts
  backend/apps/nestjs/platform/src/modules/app/services/app/app.service.ts
  backend/apps/nestjs/platform/src/modules/app/services/app/index.ts
  backend/apps/nestjs/platform/src/modules/app/services/index.ts
Due: npm run format, npm run eslint

feat [DEV-49]: Add targeted stylelint, lint, test, and build scripts for different tags
  package.json
Due: npm run format, npm run eslint

feat [DEV-49]: Add eslint commands and new dependencies to package.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

Path conditions:
  npm run format: any of: *.{ts,html,json,scss,js,tsx,jsx,md,mdx,yml}
  npm run stylelint: any of: *.scss
  npm run eslint: any of: *.{ts,tsx,html,js,jsx,json}
