Repository kiforks/frontsoulend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

.lintstagedrc.json:

{
	"*.{ts,html,json,scss,js,tsx,jsx,md,mdx}": ["npm run format"],
	"*.scss": ["npm run stylelint"],
	"*.{ts,tsx,html,js,jsx}": ["npm run eslint"]
}

ci [DEV-1]: Change command for the build job
  libs/utilities/package.json
Due: npm run format

ci [DEV-1]: Change command for the build job
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Change command for the build job
  .github/workflows/ci.yml
  libs/utilities/package.json
Due: npm run format

ci [DEV-1]: Change command for the build job
  libs/angular/ui/package.json
Due: npm run format

refactor [DEV-1]: Update commands
  package.json
Due: npm run format

feat [DEV-1]: Add hot module replacement
  apps/frontend/angular/platform/project.json
Due: npm run format

ci [DEV-1]: Merge all the liners into a single job
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Add a new library deploy command
  .github/workflows/cd.yml
  package.json
Due: npm run format

feat [DEV-1]: Update NX package version to the latest
  package-lock.json
  package.json
Due: npm run format

Revert "feat [DEV-1]: Update NX package version to the latest"
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Update NX package version to the latest
  nx.json
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Update stylelint package version
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Update package versions
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Change the character limit for the branch name
  .husky/pre-push
Due: none

feat [DEV-1]: Update prettier configuration version
  package-lock.json
  package.json
Due: npm run format

feat [DEV-1]: Update prettier and stylelint configurations
  .prettierrc.js
  .prettierrc.json
  .stylelintrc.js
  .stylelintrc.json
  libs/angular/ui/package.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-1]: Update eslint configuration files to the latest version
  .eslintignore
  .eslintrc.angular.json
  .eslintrc.base.json
  .eslintrc.json
  apps/frontend/angular/.eslintrc.json
  apps/frontend/angular/platform/eslint.config.js
  apps/frontend/angular/platform/jest.config.ts
  apps/frontend/angular/platform/setup-jest.ts
  apps/frontend/angular/platform/src/app/components/app/app.component.ts
  apps/frontend/angular/platform/src/index.html
  apps/frontend/angular/platform/src/test-setup.ts
  apps/frontend/angular/platform/tsconfig.spec.json
  apps/qa/platform-e2e/.eslintrc.json
  apps/qa/platform-e2e/eslint.config.js
  apps/qa/platform-e2e/playwright.config.ts
  eslint.config.angular.js
  eslint.config.base.js
  eslint.config.js
  jest.preset.js
  libs/angular/ui/.eslintrc.json
  libs/angular/ui/eslint.config.js
  libs/angular/ui/jest.config.ts
  libs/angular/ui/setup-jest.ts
  libs/angular/ui/src/modules/condition/directives/condition-keyword/condition-keyword.directive.ts
  libs/angular/ui/src/modules/media/configs/media.config.ts
  libs/angular/ui/src/modules/media/helpers/media.helper.ts
  libs/angular/ui/src/modules/media/services/media/media.service.ts
  libs/angular/ui/src/test-setup.ts
  libs/core/.eslintrc.json
  libs/core/eslint.config.js
  libs/core/jest.config.ts
  libs/core/src/interfaces/utils.ts
  libs/utilities/.eslintrc.json
  libs/utilities/eslint.config.js
  libs/utilities/jest.config.ts
  libs/utilities/src/decorators/bind/bind.decorator.ts
  nx.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

ci [DEV-1]: Update description for the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: npm run format

feat [DEV-1]: Migrate angular to the latest version
  apps/frontend/angular/platform/src/app/components/app/app.component.ts
  nx.json
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-1]: Add a new "packages" command
  package.json
Due: npm run format

feat [DEV-1]: Update several packages to the latest version
  package-lock.json
  package.json
Due: npm run format

ci [DEV-1]: Update names for the job deps
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Update job names
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Update jobs
  .github/workflows/ci.yml
Due: none

ci [DEV-1]: Remove typo
  .github/workflows/ci.yml
Due: none

feat [DEV-1]: Make the angular ui library package a module
  libs/angular/ui/package.json
Due: npm run format

feat [DEV-27]: Update NX package version to the latest one
  package-lock.json
  package.json
Due: npm run format

feat [DEV-27]: Add new NX rule to handle dependencies
  eslint.config.js
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-27]: Add new values to ignore list for the deps eslint rule
  eslint.config.js
  libs/angular/ui/package.json
Due: npm run format, npm run eslint

feat [DEV-27]: Change the approach to using eslint configuration
  apps/frontend/angular/platform/eslint.config.js
  apps/frontend/angular/platform/jest.config.ts
  apps/qa/platform-e2e/eslint.config.js
  apps/qa/platform-e2e/tsconfig.json
  eslint.config.angular.js
  eslint.config.base.js
  eslint.config.js
  libs/angular/ui/eslint.config.js
  libs/core/eslint.config.js
  libs/core/tsconfig.json
  libs/utilities/eslint.config.js
  libs/utilities/tsconfig.json
  nx.json
  tsconfig.angular.json
  tsconfig.json
Due: npm run format, npm run eslint

feat [DEV-27]: Add storybook and refactor linters structure
  apps/frontend/angular/platform/eslint.config.js
  eslint.config.js
  libs/angular/ui/eslint.config.js
  libs/angular/ui/project.json
  libs/angular/ui/tsconfig.json
  libs/angular/ui/tsconfig.lib.json
  linters/eslint/configs/angular.config.js
  linters/eslint/configs/storybook.config.js
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format, npm run eslint

feat [DEV-27]: Add storybook configuration for the angular ui library
  libs/angular/ui/.storybook/main.ts
  libs/angular/ui/.storybook/preview.ts
  libs/angular/ui/.storybook/tsconfig.json
Due: npm run format, npm run eslint

refactor [DEV-27]: Update imports for the angular ui module
  libs/angular/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/angular/ui/src/modules/media/directives/media-device/media-device.directive.ts
  libs/angular/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/angular/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/angular/ui/src/modules/media/index.ts
  libs/angular/ui/src/modules/media/tokens/index.ts
  tsconfig.json
Due: npm run format, npm run eslint

feat [DEV-27]: Add faker.js and ng-mocks libraries
  eslint.config.js
  package-lock.json
  package.json
Due: npm run format, npm run eslint

feat [DEV-27]: Disable 'storybook/no-title-property-in-meta' esling rule
  apps/frontend/angular/jest.config.ts
  apps/frontend/angular/platform/jest.config.ts
  libs/angular/ui/eslint.config.js
  libs/angular/ui/jest.config.ts
Due: npm run format, npm run eslint
